<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span>KIPPER CONSULTORIA</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>
        <img ngSrc="./assets/principal.svg" width="670" height="536" priority="">
    </section>
    <section class="benefit-section">
        <div class="benefit-data">
            <h2>
                95%<br>
                empresas
            </h2>

        </div>
        <p>
            não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.
            fale com nossos especialistas</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <app-newsletter-form></app-newsletter-form>
    
</main>